/** @format */

body {
  position: relative;
  font-size: 100%;
}

.main_container {
  width: 55%;
  position: relative;
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.103);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    $offset: 187;
    $duration: 1.1s;
    .spinner {
      animation: rotator $duration linear infinite;
    }
    @keyframes rotator {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(270deg);
      }
    }
    .path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
    }
    @keyframes colors {
      0% {
        stroke: grey;
      }
      25% {
        stroke: grey;
      }
      50% {
        stroke: grey;
      }
      75% {
        stroke: #000;
      }
      100% {
        stroke: #000;
      }
    }
    @keyframes dash {
      0% {
        stroke-dashoffset: $offset;
      }
      50% {
        stroke-dashoffset: $offset/4;
        transform: rotate(135deg);
      }
      100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
      }
    }
  }
  .logo_chat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    h2 {
      padding: 1rem 2rem;
      background-color: var(--main-color);
      border-radius: 1rem;
      color: #fff;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}