/** @format */

@mixin color--gradient {
  background-color: #717171;
  background-image: linear-gradient( to top, rgb(255, 111, 88) 0%, rgb(253, 53, 117) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin none--style {
  list-style: none;
  text-decoration: none;
}
