/** @format */

.profile {
  position: relative;
  padding: 0;
&:hover {
    .profile_container::-webkit-scrollbar-thumb {
      background-color: rgba(128, 128, 129, 0.5);
      border-radius: 1rem;
    }
  }
  .profile_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 2rem;
    .profile_header {
      min-height: 40rem;
      display: flex;
      flex-direction: column;
      &_background {
        height: 20rem;
        background-color: grey;
      }
      &_main {
        color: grey;
        font-family: sans-serif;
        min-height: 35rem;
        margin-top: -10rem;
        .profile_item {
          margin-bottom: 1rem;
        }
        .profile_header_avatar {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 1rem;
          align-items: center;
          .avatar {
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            box-sizing: content-box;
            img {
              border-radius: 100%;
              height: 100%;
              width: 100%;
              object-fit: cover;
              padding: 0.5rem;
              background-color: #000;
            }
          }
          .setup_profile {
            font-size: 1.5rem;
            padding: 1rem 2rem;
            border-radius: 3rem;
            color: #fff;
            background-color: rgb(255, 75, 86);
            transform: translateY(100%);
            &:hover {
              cursor: pointer;
            }
          }
        }
        .profile_information {
          width: 100%;
          .profile_name {
            display: flex;
            flex-direction: column;
            span {
              &:first-child {
                color: #000;
                font-weight: 600;
                font-size: 2.4rem;
                font-family: sans-serif, "sora";
              }
            }
          }
          #nickname {
            font-size: 1.7rem;
          }
          .profile_status {
            display: flex;
            span {
              font-size: 1.5rem;
            }
            .profile_follow {
              margin-right: 1rem;
              font-weight: 450;
              .profile_follow_quantity {
                color: #000;
              }
            }
            &:hover
            {
              cursor: pointer;
            }
          }
          .profile_join {
            span,
            i {
              font-size: 1.5rem;
            }
          }
          .profile_aboutme {
            padding: 1rem 0;
            span {
              font-family: auto;
              font-size: 1.8rem;
              font-style: italic;
            }
          }
        }
      }
    }
    .profile_main {
      height: 100%;
      #posts_new {
        width: 10rem;
        height: 5rem;
        li {
          width: 100%;
          font-size: 1.5rem;
          text-align: center;
          list-style: none;
          padding: 0.5rem 0;
          font-weight: 500;
          border-bottom: 2px solid lightcoral;
        }
      }
      .post_wrapper {
        padding: 1rem;
        height: inherit;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .post_item {
        width: 100%;
        display: flex;
        padding: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #eee;
        &_avatar {
          display: block;
          border-radius: 100%;
          width: 10%;
          span {
            display: block;
            width: 5rem;
            height: 5rem;
            img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 100%;
            }
          }
        }
        &_main {
          width: 80%;
          max-height: 100%;
          display: flex;
          flex-direction: column;
          .post_item_infor {
            width: 100%;
            margin-bottom: 10px;
            padding: 0.2rem 0;
            &_name {
              font-weight: 500;
              .age {
                display: inline-block;
                padding: 0.2rem 0.5rem;
                font-size: 1.2rem;
                border-radius: 40%;
                background-color: rgba(255, 0, 0, 0.147);
              }
            }
            .post_time {
              margin-top: -5px;
              color: var(--hover-color);
              font-size: 1.35rem;
              span {
                font-family: none;
                font-weight: 600;
              }
            }
          }
          .post_item_content {
            width: 100%;
            .post_caption {
              span {
                font-size: 1.6rem;
              }
            }
            .post_img {
              align-items: center;
              justify-content: center;
              padding: 0.5rem 0;
              img {
                width: 100%;
                height: 35rem;
                border-radius: 1rem;
                object-fit: cover;
              }
            }
          }
          .post_contact {
            display: flex;
            justify-content: flex-end;
            &_status {
              padding: 1rem;
              cursor: pointer;
              &:active {
                transform: scale(0.95);
              }
            }
          }
          .comment_to_post {
            height: 4rem;
            width: 100%;
            transition: all 0.2s;
            display: none;
            &_wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              height: 100%;
              .your_avatar {
                width: 3.6rem;
                height: 3.6rem;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                }
              }
              .text_to {
                width: calc(100% - 4.5rem);
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                position: relative;
                input {
                  width: 100%;
                  height: 100%;
                  border-radius: 2rem;
                  padding: 0 1.2rem;
                  outline: none;
                  border: none;
                  background-color: rgb(240, 242, 245);
                  font-size: 1rem;
                  color: #333;
                }
                .fa-paper-plane {
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translate(-100%, -50%);
                  color: #333;
                  &:hover {
                    cursor: pointer;
                    color: rgb(110, 103, 103);
                  }
                }
              }
            }
          }
        }
        .comment_container {
          display: block;
          width: 100%;
          margin-top: 1rem;
          .comment_list {
            display: flex;
            flex-direction: column;
            height: inherit;
            width: inherit;
            .comment_item {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              margin-top: 1.2rem;
              transition: all 0.5s;
              .avatar {
                width: 8%;
                img {
                  width: 4rem;
                  height: 4rem;
                  border-radius: 100%;
                }
              }
              .comment_content {
                display: flex;
                flex-direction: column;
                width: 89%;
                .comment_user {
                  width: 100%;
                  font-size: 1.4rem;
                  font-weight: 500;
                  .comment_user {
                    width: 100%;
                  }
                  .main_content {
                    width: 70%;
                    word-wrap: break-word;
                    font-weight: 400;
                    font-size: 1.35rem;
                    color: rgb(110, 103, 103);
                  }
                }
                ul {
                  display: flex;
                  @include none--style;
                  li {
                    font-size: 1.2rem;
                    margin-right: 1.5rem;
                    font-weight: 400;
                    color: grey;
                    cursor: pointer;
                  }
                }
              }
              .comment_heart {
                width: 2%;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .edit_profile {
    position: fixed;
    display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s all;
    background-color: rgba(0, 0, 0, 0.2);
    .edit_profile_container {
      position: absolute;
      border-radius: 1rem;
      padding: 1rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 57%;
      background-color: #fff;
      height: 70vh;
      box-shadow: rgba(255, 75, 86, 0.1) 0px 2px 8px 0px;
      .edit_image {
        height: 30%;
        .edit_image_container {
          height: 100%;
          display: flex;
          justify-content: center;
          .edit_avatar {
            height: 15rem;
            width: 15rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 100%;
              width: 100%;
              background-color: #eee;
              padding: 0.5rem;
              border-radius: 100%;
              object-fit: cover;
            }
            .pen_edit {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
      .edit_main {
        width: 95%;
        margin: 0 auto;
        .edit_main_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 2px solid #eee;
          padding: 1rem 0;
          .title {
            h3 {
              font-size: 2rem;
              font-weight: 500;
            }
          }
          .edit_options {
            display: flex;
            .edit_option {
              min-width: 9rem;
              padding: 0.5rem;
              border: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0.5rem;
              span {
                text-align: center;
                font-size: 1.5rem;
              }
              &:hover {
                cursor: pointer;
              }
              &:active {
                transform: scale(0.95);
              }
            }
            .cancel_option {
              margin-right: 10px;
              border-color: rgb(255, 75, 86);
              color: grey;
              font-weight: 500;
            }
            .save_option {
              background-color: rgb(255, 75, 86);
              color: #fff;
            }
          }
        }
        .edit_name_main {
          margin-top: 0.5rem;
          .edit_main_container {
            label {
              font-size: 1.5rem;
              padding: 1rem;
              text-transform: uppercase;
              font-weight: 500;
              color: grey;
            }
            input,
            textarea {
              border: 1px solid #eee;
              outline: none;
              font-size: 1.6rem;
              padding: 0.5rem 1rem;
              border-radius: 5px;
              background-color: rgba(255, 75, 87, 0.007);
              &:focus {
                border-color: rgb(255, 75, 86);
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              }
            }
            .edit_element {
              display: flex;
              width: 40%;
              flex-direction: column;
              margin-bottom: 1rem;
            }
            .about_me {
              width: 100%;
              textarea {
                width: 100%;
                resize: none;
              }
            }
          }
        }
      }
    }
  }
  .follow_list {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1000;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
   
		.follow_list_wrapper {
			width: 40rem;
			height: 50rem;
			background-color: #fff;
			border-radius: 1rem;
			overflow: hidden;
      position: relative;
       
      
			.follow_list_header {
        position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				border-bottom: 1px solid #eee;
        #follow_close
        {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(-100%,-50%);
          font-size: 2rem;
          color: #eee;
          &:hover
          {
            color: #000;
            cursor: pointer;
          }
        }
				.follow_header_key {
					width: 100%;
					text-align: center;
					font-size: 1.7em;
					font-weight: 500;
					padding: 1.5rem;
					&:hover {
						cursor: pointer;
					}
					&:active {
						transform: scale(0.98);
					}
					&:first-child {
						border-start-start-radius: 1rem;
					}
					&:last-child {
						border-start-end-radius: 1rem;
					}
				}
			}
			.follow_list_parent {
				width: 100%;
				height: 88%;
				transition: all 0.5s;
				&:hover {
					.follow_list_items::-webkit-scrollbar-thumb {
						background-color: rgba(128, 128, 129, 0.5);
						border-radius: 1rem;
					}
				}
				.follow_list_items {
          position: absolute;
					height: 90%;
					overflow: hidden;
					width: 100%;
					padding: 1rem 1.2rem;
					flex: 1 0 100%;
					overflow-y: scroll;
					.follow_item_container {
						height: 100%;
						display: flex;
						flex-direction: column;
						.follow_list_item {
							margin-bottom: 1.2rem;
							.follow_list_item_wrapper {
                display: flex;
                justify-content:center;
                align-items: center;
								.follow_list_item_avatar {
									width: 14%;
									img {
										width: 5rem;
										height: 5rem;
										border-radius: 100%;
									}
								}
								.follow_list_item_main {
									padding: 0 1.2rem;
									width: 67%;
									display: flex;
									flex-direction: column;
									justify-content: center;
									span {
										font-size: 1.6rem;
										&:first-child {
											font-weight: 500;
										}
									}
									.nickname {
										color: var(--hover-color);
									}
								}
								.follow_list_item_remove {
									width: 20%;
									display: flex;
									justify-content: center;
									align-items: center;
									span {
										font-size: 1.5rem;
										padding: 0.9rem 1rem;
										background-color: var(--main-color);
										border-radius: 0.5rem;
										color: #fff;
										&:active {
											transform: scale(0.98);
										}
										&:hover {
											cursor: pointer;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.key_active {
	color: var(--main-color);
	font-weight: 650;
	border-bottom: 1px solid var(--main-color);
}
.open_contact
{
  display: 'block';
}