:root
{
    --bgc: rgb(246,247,255);
    --fontsizeS: 17px;
    --main-color: rgb(255, 75, 86);
    --hover-color: #717171;
    --medium-blue: rgb(93,95,238);
    --hard-blue: rgb(9, 9, 164);
    --blue-background: rgb(239,239,255);
    --medium-green: rgb(66,194,185);
    --light-grey: rgb(204,204,204);
}